@use '../../../styles/variables' as *;
@use 'sass:color';

.footer {
  background-color: $color-primary;
  padding: $spacing-unit * 4 0;
  font-family: $font-primary;
  border-top: 1px solid $color-gray-light;

  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 $spacing-unit * 2;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $spacing-unit * 3;
    padding-bottom: $spacing-unit * 4;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-logo {
    font-size: 2rem;
    font-weight: bold;
    color: $color-white;
  }

  .footer-section {
    h4 {
      // font-size: $font-size-md;
      color: $color-white;
      margin-bottom: $spacing-unit;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: calc($spacing-unit / 1.5);

        a {
          text-decoration: none;
          color: $color-white;
          transition: color 0.2s ease;

          &:hover {
            color: color.adjust($color-white, $lightness: -10%);
          }
        }
      }
    }

    .social-icons {
      display: flex;
      gap: $spacing-unit * 2;

      li a {
        color: $color-white;
        font-weight: 500;

        &:hover {
          color: color.adjust($color-white, $lightness: -10%);
        }
      }
    }
  }

  &-bottom {
    border-top: 1px solid $color-gray-light;
    padding-top: $spacing-unit * 2;
    text-align: center;
    font-size: $font-size-sm;
    color: $color-white;
  }
}
