<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        Snayraq
      </div>

      <div class="footer-links">
        <h4>О нас</h4>
        <ul>
          <li><a href="#">Компания</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Карьера</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Поддержка</h4>
        <ul>
          <li><a href="#">Центр помощи</a></li>
          <li><a href="#">Политика конфиденциальности</a></li>
          <li><a href="#">Правила пользования</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>

      <div class="footer-social">
        <h4>Мы в соцсетях</h4>
        <ul>
          <li><a href="#" class="icon-facebook">Facebook</a></li>
          <li><a href="#" class="icon-instagram">Instagram</a></li>
          <li><a href="#" class="icon-twitter">Twitter</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} Booking App. Все права защищены.</p>
    </div>
  </div>
</footer>
