<header class="header">
  <div class="container">
    <div class="logo">
      <a routerLink="/">Shanyraq</a>
    </div>

    <nav class="nav">
      <a routerLink="/about">О нас</a>
      <a routerLink="/sell">Продажа</a>
      <a routerLink="/favorites">Избранное</a>
    </nav>

    <div class="user-menu" [class.open]="isOpen" (document:click)="handleClickOutside($event)">
      <button class="menu-btn" (click)="toggleDropdown($event)">
        <img src="/assets/user-icon.svg" alt="user" width="40" />
      </button>

      <div class="dropdown" *ngIf="isOpen" (mouseenter)="hovering = true" (mouseleave)="hovering = false">
        <ul>
          <li><a routerLink="/register">Тіркелу</a></li>
          <li><a routerLink="/login">Кіру</a></li>
          <li class="divider"></li>
          <li><a href="#">Өз үйіңді тірке</a></li>
          <li><a href="#">Өз пікіріңді қалдыр</a></li>
          <li><a href="#">Көмек</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
