<section class="hero">
  <div class="container">
    <h1 class="hero-title">Shanyraq</h1>
    <p class="hero-subtitle">Жоғары рейтингтер мен тиімді бағалар</p>
    <button class="hero-button">Тіркелу</button>
  </div>
</section>
<section class="home-listings">
  <div class="container">
    <div class="search-panel">
      <input type="text" placeholder="Поиск города" />
      <button>Искать</button>
    </div>

    <div class="houses">
      <div
        class="card"
        *ngFor="let apt of apartments"
        [routerLink]="['/property', apt.id]"
      >
        <div class="image">
          <img [src]="apt.image" alt="Apartment" />
        </div>
        <div class="info">
          <div class="rating">
            <span>★</span> {{ apt.rating }}
          </div>
          <h3>{{ apt.title }}</h3>
        </div>
      </div>
    </div>
    

    <div class="more">
      <p>Іздеуді жалғастыру...</p>
      <button class="btn">Толығырақ</button>
    </div>
  </div>
</section>

